@font-face {
  font-family: "light";
  src: url(/sourses/Roboto-Light.ttf);
}
@font-face {
  font-family: "regular";
  src: url(/sourses/Roboto-Regular.ttf);
}
@media (width: 1200px) {
  .header .title h1 a span {
    font-family: "light";
    font-size: 2.5vw;
    font-weight: 500;
  }
  .header .main_menu {
    top: 200px;
  }
  .header .main_menu .menu_level {
    font-family: "light";
    font-size: 2vw;
    font-weight: 700;
  }
  .header .main_menu .menu_level .menu_level_items .menu_stage a {
    font-family: "light";
    font-size: 2vw;
    font-weight: 600;
    line-height: 35px;
  }
  .main .level .stage .articles .task h4 {
    font-family: "light";
    font-size: 2vw;
    font-weight: 700;
  }
  .main .level .stage .articles .task p {
    font-size: 1.5vw;
  }
}
@media (max-width: 990px) {
  .wrapper {
    width: 100%;
    border: none;
    border-radius: 0;
  }
  .wrapper .header .title h1 a {
    line-height: normal;
  }
  .wrapper .header .title h1 a span {
    font-family: "regular";
    font-size: 2vw;
    font-weight: 500;
    line-height: 0;
  }
  .wrapper .header .main_menu {
    top: 210px;
  }
  .wrapper .main .level .stage .articles .task {
    width: 30%;
    height: 220px;
  }
  .wrapper .main .level .stage .articles .task h4 {
    height: auto;
    font-family: "light";
    font-size: 2.5vw;
    font-weight: 500;
  }
  .wrapper .main .level .stage .articles .task p {
    height: auto;
    font-family: "light";
    font-size: 1.5vw;
    font-weight: 500;
  }
  .up_arrow a {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
}
@media (max-width: 770px) {
  .wrapper .header {
    height: 150px;
  }
  .wrapper .header .title h1 a {
    font-family: "regular";
    font-size: 5vw;
    font-weight: 400;
    line-height: 90%;
  }
  .wrapper .header .main_menu {
    top: 150px;
  }
  .wrapper .header .main_menu .menu_level {
    font-family: "light";
    font-size: 2.5vw;
    font-weight: 600;
  }
  .wrapper .main .level .stage .articles .task h4 {
    font-family: "light";
    font-size: 3vw;
    font-weight: 600;
  }
  .wrapper .main .level .stage .articles .task p {
    font-family: "light";
    font-size: 1.8vw;
    font-weight: 600;
  }
}
@media (width: 450px) {
  .wrapper {
    width: 100%;
  }
  .wrapper .up_arrow {
    bottom: 10px;
    right: 44%;
    width: 60px;
    height: 60px;
    overflow: hidden;
  }
  .wrapper .header .title h1 a {
    font-family: "regular";
    font-size: 10vw;
    font-weight: 700;
  }
  .wrapper .header .title h1 a span {
    font-family: "light";
    font-size: 5vw;
    font-weight: 400;
  }
  .wrapper .main .level .stage {
    width: 100%;
  }
  .wrapper .main .level .stage .articles {
    width: 100%;
  }
  .wrapper .main .level .stage .articles .task {
    width: 45%;
    height: 200px;
  }
  .wrapper .main .level .stage .articles .task h4 {
    font-family: "light";
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .wrapper .main .level .stage .articles .task p {
    font-family: "light";
    font-size: 3vw;
    font-weight: 300;
    height: 40%;
  }
  .wrapper .main .level .stage .articles .task .task_btn {
    margin: 5px;
    padding: 5px;
    font-family: "light";
    font-size: 4vw;
    font-weight: 300;
  }
}/*# sourceMappingURL=media.css.map */