$color_border: #9C9C9C;
$color_background: #bdb8b257;
$color_fontTitle: #474A51;
$color_fontText: #4E5754;


@font-face {
	font-family: "light";
	src: url(/sourses/Roboto-Light.ttf);
}
@font-face {
	font-family: "regular";
	src: url(/sourses/Roboto-Regular.ttf);
}

@mixin fontLight($f_size, $f_weight) {
	font-family: "light";
	font-size: $f_size + pt;
	font-weight: $f_weight;
}
@mixin fontReg($f_size, $f_weight) {
	font-family: "regular";
	font-size: $f_size + pt;
	font-weight: $f_weight;
}
@mixin flexRow($justCont, $alignItem) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: $justCont;
	    -ms-flex-pack: $justCont;
	        justify-content: $justCont;
	-webkit-box-align: $alignItem;
	    -ms-flex-align: $alignItem;
	        align-items: $alignItem;
}

@mixin flexCol($justCont, $alignItem) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: $justCont;
	    -ms-flex-pack: $justCont;
	        justify-content: $justCont;
	-webkit-box-align: $alignItem;
	    -ms-flex-align: $alignItem;
	        align-items: $alignItem;
}
//end of general properties block============================== 
a {
	text-decoration: none;
	color: $color_fontTitle;
	&:hover {
		color: #9C9C9C;
	}
}
h1 {
	@include fontReg(30, 700);
	color: $color_fontTitle;
}
h2 {
	@include fontReg(25, 700);
	color: $color_fontTitle;
}
h3 {
	@include fontReg(20, 600);
	color: $color_fontTitle;
}
p {
	@include fontLight(15, 300);
	color: $color_fontText;
	text-align: center;
	width: 90%;
	margin: 0;
}

.header {
	border: 2px solid $color_border;
	border-radius: 10px;
	width: 95%;
	text-align: center;
	margin-top: 30px;
	.title {
		h1 {
			a {
				span {
					@include fontLight(20, 400);
				}
			}
		}

	}
}
.wrapper {
	@include flexCol(space-between, center);
	margin: auto;
	width: 95%;
	border: 2px solid $color_border;
	border-radius: 10px;
	background: $color_background;	
}

.main {
	width: 95%;
	.level {
		@include flexCol(space-around, center);
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		border: 2px dashed $color_border;
		border-radius: 10px;
		width: 100%;
		margin: 20px auto 20px;
		.title {
			width: 100%;
			text-align: center;
			
		}

	}
	.stage {
		width: 98%;
		border-bottom: 2px solid $color_border;
		border-radius: 10px;
		background:  #DCDCDC;
		margin-bottom: 30px;

		.articles {
			@include flexRow(center, center);
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
					margin-bottom: 20px;
			.task {
				@include flexCol(space-between, center);
				width: 24%;
				height: 250px;
				border: 1px solid $color_border;
				border-radius: 10px;
				background: white;
				margin: 5px;
				h4 {
					@include fontLight(20, 500);
					margin: 10px auto;
					text-align: center;
				}
				.task_btn {
					padding: 10px 40px;
					margin-bottom: 10px;
					@include fontLight(15, 300);
				}
			}
		}
	}
}

.footer {
	width: 95%;
	height: 50px;
	background-image: url(/sourses/img/icons8-ноги-50.png);
	background-color: #474A51;
	border: 2px solid #474A51;
	border-radius: 10px;
	margin-bottom: 20px;
	text-align: center;
	h2 {
		color: white;
		margin: auto;
	}

}