$color_border: #9C9C9C;
$color_background: #bdb8b257;
$color_fontTitle: #474A51;
$color_fontText: #4E5754;


@font-face {
	font-family: "light";
	src: url(/sourses/Roboto-Light.ttf);
}

@font-face {
	font-family: "regular";
	src: url(/sourses/Roboto-Regular.ttf);
}

@mixin fontLight($f_size, $f_weight) {
	font-family: "light";
	font-size: $f_size + vw;
	font-weight: $f_weight;
}

@mixin fontReg($f_size, $f_weight) {
	font-family: "regular";
	font-size: $f_size + pt;
	font-weight: $f_weight;
}

@mixin flexRow($justCont, $alignItem) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: $justCont;
	-ms-flex-pack: $justCont;
	justify-content: $justCont;
	-webkit-box-align: $alignItem;
	-ms-flex-align: $alignItem;
	align-items: $alignItem;
}

@mixin flexCol($justCont, $alignItem) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: $justCont;
	-ms-flex-pack: $justCont;
	justify-content: $justCont;
	-webkit-box-align: $alignItem;
	-ms-flex-align: $alignItem;
	align-items: $alignItem;
}


//end of general properties block============================== 
a {
	text-decoration: none;
	color: $color_fontTitle;

	&:hover {
		color: #9C9C9C;
	}
}

h1 {
	@include fontReg(40, 700);
	color: $color_fontTitle;
	margin: 20px auto;
}

h2 {
	@include fontReg(25, 700);
	color: $color_fontTitle;
	margin: 20px auto;
}

h3 {
	@include fontReg(20, 600);
	color: $color_fontTitle;
	margin: 20px auto;
}

p {
	@include fontLight(15, 300);
	color: $color_fontText;
	text-align: center;
	width: 90%;
	margin: 0;
}

.hide {
	display: none;
}


.menu_mobile {
	@include flexCol(space-between, flex-start);
	z-index: 20;
	position: absolute;
	width: 90%;
	top: 30px;
	left: 30px;
	background-color: #4e575450;
	.menu_level {
		z-index: 21;
		border: $color_border solid 1px;
		border-radius: 3px;
		width: 30%;
		margin: 5px;
		background-color: white;
		.menu_level_items {
			z-index: 21;
			position: absolute;
			left: 33%;
			top: 5px;
			border: $color_border solid 2px;
			border-radius: 3px;
			background-color: #4e575450;
			.menu_stage {
				border-radius: 3px;
				background-color: white;
				width: 100px;
				margin: 15px;
			}
			div {
				&:nth-child(1) {
					margin-top: 5px;
				}
			}
		}
	}
}
.menu_mobile.hide {
	display: none;
}

.header {
	border: 2px solid $color_border;
	border-radius: 10px;
	width: 95%;
	height: 200px;
	text-align: center;
	margin-top: 30px;
	-webkit-box-sizing: unset;
	        box-sizing: unset;

	.title {
		h1 {
			margin-bottom: 0;
			a {
				span {
					@include fontLight(1.5, 400);
				}
			}
		}

	}
// MAIN MENU==================================
	.main_menu {/* border: #474A51 solid 1px; */
		@include flexRow(space-around, start);
		z-index: 10;
		position: absolute;
		width: 90%;
		top: 190px;

		.menu_level {
			@include flexCol(space-between, center);
			border: $color_border solid 1px;
			border-radius: 3px;
			width: 9.8%;
			@include fontLight(1.5, 500);

			.menu_level_items {
				background-color: rgba($color: #000000, $alpha: 0.9);
				width: 100%;
				border-radius: 3px;
				.menu_stage {
					a {
						@include fontLight(1.5, 300);
						color: #9C9C9C;
						&:hover {
							color: white;
						}
					}
				}
			}

		}
	}
}

.wrapper {
	@include flexCol(space-between, center);
	margin: auto;
	width: 95%;
	border: 2px solid $color_border;
	border-radius: 10px;
	background: $color_background;

	.up_arrow {
		position: fixed;
		bottom: 30px;
		right: 30px;
		width: 100px;
		height: 100px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		
		a {
			
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	
}

.main {
	width: 95%;

	.level {
		@include flexCol(space-around, center);
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		border: 2px dashed $color_border;
		border-radius: 10px;
		width: 100%;
		margin: 20px auto 20px;

		.title {
			width: 100%;
			text-align: center;

		}

	}

	.stage {
		width: 98%;
		border-bottom: 2px solid $color_border;
		border-radius: 10px;
		background: #DCDCDC;
		margin-bottom: 30px;

		.articles {
			@include flexRow(center, center);
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-bottom: 20px;
			width: 100%;

			.task {
				@include flexCol(space-between, center);
				width: 23%;
				height: 250px;
				border: 1px solid $color_border;
				border-radius: 10px;
				background: white;
				margin: 5px;

				h4 {
					@include fontLight(1.5, 500);
					margin: 10px auto;
					text-align: center;
				}
				
				p {/* border: #474A51 solid 1px; */
					@include fontLight(1.1, 100);
					height: 60%;
				}

				.task_btn {
					width: 80%;
					padding: 10px;
					margin: 10px;
					@include fontLight(1.5, 300);
				}
			}
		}
	}
}

.footer {
	width: 95%;
	height: 50px;
	background-image: url(/sourses/img/icons8-ноги-50.png);
	background-color: #474A51;
	border: 2px solid #474A51;
	border-radius: 10px;
	margin-bottom: 20px;
	text-align: center;

	h2 {
		color: white;
		margin: auto;
	}

}



// BURGER===========================================
.burger__menu {
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 21;
	top: 45px;
	right: 30px;
	cursor: pointer;
	overflow: visible;
	
	span {
		content: "";
		background: #000000;
		width: 100%;
		height: 5px;
		position: absolute;
		overflow: visible;
	}
	span {
		&::before {
			content: "";
			width: 100%;
			height: 5px;
			background: #000000;
			position: absolute;
			top: 15px;
		}
		&::after {
			content: "";
			width: 100%;
			height: 5px;
			background: #000000;
			position: absolute;
			top: 30px;
		}
	}

}
.cross span {
	-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
					transform: rotate(45deg);
	&::after {
		display: none;
	}
	&::before {
		top: 0;
		-webkit-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
						transform: rotate(90deg);
	}
}